@import './margins';

$ligh-grey-color : #D3D3D3;

$success-green : #3FCF8E;

$navigation-icon-color: #ffffff;
$navigation-icon-color-hover: darken($navigation-icon-color, 10%);
$light-green-color-navigation : #3fcf8e;
$light-green-color-navigation-hover : darken($light-green-color-navigation, 10%);
$hover-transition-icons : .5s;