.navbar {
    display: flex;
    height: 60px;
    margin-bottom: 40px;

    .navbar__logo {
        float: left;
        color: #3fcf8e;
        align-self: center;
        font-weight: 700;
        text-transform: uppercase;
        padding: 0 20px;
        font-size: 24px;
        text-decoration: none;
        transition: font-size 2s, transform .8s ease-in-out;

        &:hover {
            font-size: 26px;
            transform: rotate(-10deg);
            color: darken(#3fcf8e, 10%);
        }
    }
}
