@import "./../../../../assets/scss/parameters";

.sidebar {
  position: fixed;
  left: -300px;
  top: 70px;
  padding-top: 20px;
  display: flex;
  height: 100%;
  flex-direction: column;
  width: 300px;
  transition: all 0.5s ease-in-out;

  background-color: inherit;
  border-right: 1px solid #e6e5e5;
  // background-repeat: no-repeat;

  &.sidebar-active {
    left: 0;
  }

  a {
    height: 60px;
    line-height: 60px;
    display: block;
    padding: 0 32px;
    font-weight: 500;
    color: black;
    cursor: pointer;
    margin-bottom: 10px;

    &::after {
      content: "";
      display: block;
      width: 0;
      height: 2px;
      background: lighten(black, 20%);
      transition: width $hover-transition-icons;
    }

    &:hover {
      color: lighten(black, 20%);

      &::after {
        width: 100%;
      }
    }

    i {
      float: left;
      width: 20px;
      height: 60px;
      line-height: 60px;
      margin-right: 10px;
    }

    // &:hover {
    //     background-color: rgba(0, 0, 0, 0.05);
    // }
  }
}
